[2020-04-04 16:28] kellpossible opened #1 "Create a derive macro for I18nEmbed"
Currently, all it needs to do is set the `src_locale()` from the `i18n.toml` config and perhaps also, if possible, set the `RustEmbed` derive folder... If that isn't possible, consider incorporating `RustEmbed` into this project.

The current manual implementation looks like this:

[code]

[2020-04-04 16:32] kellpossible opened #2 "Create a tr derive macro for LanguageLoader"
Create a macro to derive a `LanguageLoader` for use with the `gettext` `tr` system.

The current manual implementation looks like this:

[code]

[2020-04-04 16:35] kellpossible opened #3 "Create a tutorial"

[2020-04-04 16:36] kellpossible opened #4 "Publish packages"
This may also involve extracting `i18n-embed` and `i18n-build` into their own repos, I'm not sure yet.

[2020-04-06 17:55] kellpossible opened #5 "Improve long about help message"
Had trouble translating this message, so I think it would be good to improve it

[2020-04-06 17:56] kellpossible opened #6 "Embed translations into i18n-build crate, separate the translations."

[2020-04-06 17:59] kellpossible opened #7 "Create integration tests"
Create some integration tests, using test projects to test all the options available in the config file.

[2020-04-07 08:41] #6 closed

[2020-04-07 08:41] kellpossible commented on #6
completed in c31f454b4eabea278b59793d14a620d58ac5274e

[2020-04-07 08:42] #1 closed

[2020-04-07 09:01] #2 closed

[2020-04-07 14:07] #5 closed

[2020-04-10 13:38] #4 closed

[2020-04-10 13:39] kellpossible commented on #4
decided to keep them in this repository for now. When they reach 1.0, or significant usage I'll split them out.

[2020-04-10 15:43] kellpossible opened #9 "Investigate/document how to conveniently support previewing localizations for translators"
Perhaps some of the `rust-embed` debug options to access the files via the file system can help with this?

[2020-04-10 15:46] kellpossible opened #10 "Complete the live update of selected translations for the web-sys-requester"
This is currently incomplete

[2020-04-11 11:31] kellpossible opened #11 "Consider finding/creating a way to run xtr without modifying line numbers if none of the strings have changed"
This would have the advantage that you could have your pot file checked in to source control, and updated automatically in a build script which would notify developers when they are modifying localized strings, and ensure that they are aware of the impacts of their changes to the localization process. (i.e. when their change results in a fuzzy match, and when it doesn't, and when it requires addit

[2020-04-15 09:36] kellpossible opened #12 "The gettex output option doesn't make sense when extract_to_parent is true"
Consider making this optional? Consider this situation more carefully.

[2020-04-15 15:58] kellpossible opened #13 "running from a subcrate which has gettext extract_to_parent fails to find parent crate"
cargo i18n fails when inside a child crate which uses the gettext extract_to_parent, because there is no parent crate defined yet.

[2020-04-16 14:29] #13 closed

[2020-04-19 16:04] kellpossible opened #15 "Overriding/loading a language which is the same as src_locale the second time doesn't work"
Unfortunately when loading a different language, and then trying to load the `src_locale` language again it doesn't work.

In `i18n_embed::select_single()` the logic is:

[code]

unfortunately this skips loading the [empty catalog](https://docs.rs/gettext/0.4.0/gettext/struct.Catalog.html#method.empty) in `LanguageLoader`.

Probably `LanguageLoader` and `I18nEmbed` need to be refactored to properl

[2020-04-20 07:00] kellpossible opened #16 "Get tests working again on stable rust"
Currently tests only work on nightly because of this error:

[code]

which requires `#![feature(proc_macro_hygiene)]`. I'm not really sure why this only happens in some tests but not others which use this macro...

[2020-04-20 09:09] #15 closed

[2020-05-03 10:33] kellpossible opened #18 "Incorrect comment in code example"
The comment for the `localize()` function in the first example https://docs.rs/i18n-embed/0.4.0/i18n_embed/#localizing-libraries is incorrect

[2020-05-03 10:35] kellpossible opened #19 "Update i18n-embed version in cargo-i18n readme example"
Currently the most recent version is `0.4.0`

[2020-05-03 10:43] #18 closed

[2020-05-03 10:43] #19 closed

[2020-05-18 18:59] kellpossible opened #21 "Write some unit tests for i18n-embed"

[2020-05-19 05:26] kellpossible commented on #16
Looks like this is set to be solved with rust 1.45

[2020-05-23 16:18] DBLouis opened #22 "Support translation of Glade XML file"
It is possible to extract strings to be translated from a Glade file with:

`xgettext -L Glade -o ui.pot ui.xml`

A simpler solution could be to include/merge .pot files from a given directory, defined in the configuration. In this case generating the .pot files from other sources can be done in the build script for example.

[2020-05-30 20:05] kellpossible commented on #22
@DBLouis this seems like a sensible idea! I'll look into it, and if it can be made to work generically.

[2020-05-31 06:29] kellpossible commented on #22
This project includes localization from YAML files, https://git.open-communication.net/spacekookie/traduki , perhaps when implementing this issue feature, could also consider how it would fit into including similar plain text key-value files, and even per-language assets used for localizing assets such as documentation and large chunks of text, in a similar style to Hugo/Zola.

[2020-06-09 14:40] kellpossible opened #23 "Add support for checking the validity of message formatting"
This way cargo-i18n can also function a bit like a linter/compiler, checking the validity message formatting before the application even runs.

[2020-06-09 15:02] kellpossible opened #24 "Add support for fluent-rs"
It would be fantastic to also support `fluent` localization system (and allow it to be used alongside `gettext` when required for pre-existing projects to allow gradual migration, and use of localized libraries, and also to eventually work out some way of automating the migration `gettext` projects to fluent so developers can choose to do so when they are ready). The reason why I didn't start with

[2020-07-09 15:37] kellpossible opened #25 "Add support for the docsrs feature tag"
e.g.

[code]

[2020-08-19 14:12] kellpossible commented on #16
Looks like this issue is no longer a problem now with Rust stable version `1.45`.

[2020-08-19 14:12] #16 closed

[2020-08-23 08:41] kellpossible opened #29 "Reduce interdependency between I18nEmbed and RustEmbed (allow custom file sytem/file requests)"
It would be good to reduce the tie in between `I18nEmbed` and `RustEmbed`, perhaps even change the name of `I18nEmbed` to `I18nResources`, and perhaps explore how to provide an async version of the API. This would allow `I18nResources` to be implemented by a network request, or a request to a `webview` backend's file system, instead of only using `RustEmbed`, which in the WASM context essentially

[2020-08-23 10:56] kellpossible opened #30 "Live update selected language based on system preferences for DesktopLanguageRequester"
It would be great to do this at least for Windows, and perhaps Mac. Not sure about Linux support for this.

[2020-08-23 11:04] kellpossible opened #31 "Add support for validation of fluent resources to cargo-i18n command line tool"
Ideas for validations:

- [ ] Check that all languages are able to be loaded
- [ ] Check for duplicate keys
- [ ] Check that args match across different languages for the same message.
- [ ] Report for the percent translated.
- [ ] Check that the message format parses correctly
- [ ] Check for messages in translated languages which are not present in the fallback language, and are probably redunda

[2020-08-23 12:43] kellpossible opened #32 "Add a compile time checked fl!() macro for use with the fluent localization system"
In a similar style to [sqlx](https://github.com/launchbadge/sqlx) it would be really nice to have compile time checks for use of the fluent localization system.

## Features

- [ ] Confirm key lookups.
- [ ] Compile time formatting of arguments, and validating by compiling the message and ensure it doesn't crash.

[2020-08-25 15:40] kellpossible commented on #32
Decided to name the macro `fl!()` so it won't clash when used alongside `tr!()` which will get extracted with `xtr` tool.

[2020-08-27 15:25] #29 closed

[2020-08-27 15:25] #32 closed

[2020-08-28 14:26] kellpossible opened #34 "fmt subcommand to reformat localization assets"
specifically, those that get edited by hand, by developers, like with fluent. It would be nice to have an option at least to re-order the messages to be in alphabetical order.

[2020-08-28 14:54] kellpossible opened #35 "fuzzy match message id suggestions for fl!() macro"
When the incorrect message id is entered, it would be nice to have a list of fuzzy matched candidates to appear in the error message help.

[2020-08-28 18:41] kellpossible commented on #35
completed in 477b24f8fe6ebc01436e55879a870761f209c765

[2020-08-28 18:41] #35 closed

[2020-08-29 14:35] kellpossible opened #36 "Remove CRLF fix when the upstream issue is resolved"
Currently in `i18n-embed/src/fluent.rs#298` in `load_languages()` there is a fix to replace Windows CRLF with LF when loading assets.

If this issue is fixed upstream https://github.com/projectfluent/fluent-rs/issues/191, then that should probably be reverted.

[2020-08-29 21:55] sorin-davidoi opened #37 "Allow passing language to each localization request"
There should probably be an API that allows setting the language dynamically for each localization request (e.g. extracted from the [`Accept-Language`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language) header).

This would allow usages such as:

[code]

[2020-08-30 16:50] kellpossible opened #38 "Add a mode to i18n-embed to make it easy to see which Strings are localized in the UI (even if they aren't translated yet)"
Perhaps wrap strings with braces: `{mystring}` or something similar.

[2020-08-30 16:59] kellpossible commented on #37
That seems like a good idea, thanks for the suggestion!

[2020-08-30 17:35] kellpossible commented on #37
I'm wondering whether this should be added to the `fl!()` macro, only added to the `FluentLanguageLoader` and called separately? At the moment, only a set of languages in a sequence of fallbacks are loaded. Some more thought about how this would impact the design and functionality is certainly required. I'll have a bit more of a think about this tomorrow

[2020-09-01 07:55] kellpossible commented on #37
This idea doesn't fit with the current model of LanguageLoader, having a "current language" because it could change with every request. I'm thinking the best way to approach this might be to make a new Fluent loader type, and a new macro (that shares code with the existing one).

[2020-09-01 15:13] kellpossible opened #39 "Config option to specify the domain to use for i18n-embed and i18n-embed-fl when using Fluent"
(override the default which is the crate name)

[2020-09-06 19:28] #24 closed

[2020-09-06 19:31] #7 closed

[2020-09-06 19:31] kellpossible commented on #7
there are now some integration tests for `i18n-embed`

[2020-09-06 19:33] kellpossible commented on #30
Changing the system display language on any operating system seems to be a bit of an ordeal, on Mac it requires a logout and login from what I can see. So for now this feature is out of scope.

[2020-09-06 19:33] #30 closed

[2020-09-06 19:43] kellpossible commented on #22
It looks like Glade typically uses [inltool](https://freedesktop.org/wiki/Software/intltool/) to extract strings, and merge them again.
This tool supports a number of different formats, it would be good to support them all via `intltool`.

[2020-09-06 19:51] kellpossible commented on #22
Reading the original comment though it seems like I misunderstood the original feature request, which was to have a way to merge in pot files generated by other tools.

[2020-09-19 09:22] kellpossible commented on #36
As per https://github.com/projectfluent/fluent-rs/issues/191#issuecomment-695189558 it looks like this issue is resolved on fluent master branch, and just waiting for the `0.13` release now.

[2020-09-24 11:31] xliiv opened #40 "Integration with web frameworks"
Just finished testing this crate for a CLI use case and works as expected (`gettext` variant), so great work and thanks for it :)

Now, I'm wondering how could this be integrated with popular frameworks, like
1. https://github.com/SergioBenitez/Rocket/
2. https://github.com/actix/actix-web

All hints are welcome

[2020-09-26 13:09] xliiv commented on #40
I think it's not easy achievable, at least with [gettext](https://github.com/kellpossible/cargo-i18n#usage-with-gettext) backend.
I haven't checked [fluent](https://github.com/kellpossible/cargo-i18n#usage-with-fluent) yet.
This is why:
1. you have to use `tr!` macro. In order to make strings in your app/lib
    1. extracted to `pot` file
    2. and then replaced by user's lang version
2. `tr!` de

[2020-09-27 09:49] xliiv commented on #40
This should work easily for [fluent](https://github.com/kellpossible/cargo-i18n#usage-with-fluent).
See this dirty (but working) example

# Test

[code]

# Code

[code]

[code]

I'm closing it then.

[2020-09-27 09:49] #40 closed

[2020-09-29 12:57] kellpossible commented on #36
The new version of fluent has been released with this issue fixed. An update of this project will be required, there are some breaking changes with the fluent AST

[2020-10-16 13:38] psionikangel opened #41 "Use case question - Translating based on a "settings drop-down list""
Hi @kellpossible !

I have a use case question for you. I am working on adding localization on a rust app based on the very good `iced` UI framework. You can see the PR [here](https://github.com/casperstorm/ajour/pull/204) if you are curious, but the extra context shouldn't be necessary to answer my question.

Initially, I had used your library to translate the app based on the system locale (whic

[2020-10-17 06:42] kellpossible commented on #41
Hi @psionikangel great news, I'm also interested to try out `iced` when it gets a few more features, and support for older systems!

By switching languages in the settings, do you mean in the system settings? I tried to implement support for detecting changes to system selected display language in the past, but closed the issue because it seemed difficult to implement on the desktop platform https

[2020-10-17 06:51] kellpossible opened #42 "Provide support for ICU4X"
https://github.com/unicode-org/icu4x/wiki/ICU4X-Project-Announcement

[2020-10-17 08:42] kellpossible commented on #41
I hope I've addressed some of these issues in the new `i18-embed` release `0.8.6` 00835512449c11277443ef935dc828d452ee9793

[2020-10-19 14:12] psionikangel commented on #41
I was trying at runtime in the application's settings. So based on your comment, that should work?

[2020-10-23 08:18] kellpossible commented on #41
@psionikangel yes it should work, but you'll have to do the change a different way, using the `i18n-embed` library directly via [select()](https://docs.rs/i18n-embed/0.9.3/i18n_embed/fn.select.html) or the [FluentLanguageLoader::load_languages() method (LanguageLoader implementation)](https://docs.rs/i18n-embed/0.9.3/i18n_embed/fluent/struct.FluentLanguageLoader.html#impl-LanguageLoader)

[2020-11-04 22:52] casperstorm commented on #41
I'll take a stab at this @psionikangel – will use what you have done so far.

[2020-11-05 13:39] casperstorm opened #43 "Can't compile: i18n_embed::Localizer` is not satisfied"
When running `cargo install cargo-i18n` i get the following error:
(This happens on both `1.46.0` and `1.47.0`.)

Is it me doing something wrong?

[code]

[2020-11-20 16:36] fosskers opened #44 "i18n-embed (fluent): Visual artifacts around inserted arguments"
Hi there, I discovered these tools yesterday and am having a great time with them, thank you.

This morning I tried testing argument insertion via `fl!()`, like so:
[code]
To my dismay, here it what appears in my terminal:
![2020-11-20-083316_956x511_scrot](https://user-images.githubusercontent.com/229679/99825107-71464f80-2b0b-11eb-8e31-1ee299fdafcc.png)

The Fluent I'm calling looks like this:
[

[2020-11-20 16:48] fosskers commented on #44
[code]
[code]

[2020-11-20 16:54] fosskers commented on #44
[code]
<details>
<summary> Output </summary>
<pre>
<code>
00: ⁨
01: t
02: h
03: i
04: n
05: g
06: ⁩
07:
08: i
09: n
10:
11: t
12: h
13: e
14:
15: m
16: i
17: d
18: d
19: l
20: e
21:
22: ⁨
23: t
24: h
25: i
26: n
27: g
28: ⁩
29:
30: a
31: n
32: d
33:
34: a
35: t
36:
37: t
38: h
39: e
40:
41: e
42: n
43: d
44:
45: ⁨
46: t
47: h
48: i
49: n
50: g
51: ⁩
</code>
The extra blanks here appear as boxes in

[2020-11-20 16:57] fosskers commented on #44
And if it helps at all, here is how I'm initializing my loader:
[code]

[2020-11-21 17:41] fosskers commented on #44
So there are 6 naughty chars (the blanks), and 12 more bytes than we expect, so they must be 2 bytes each and therefore not ASCII (as the code sample twice up shows).

[2020-11-21 18:00] fosskers commented on #44
The bytes of the 6 bad chars:
1. `e2 81 a8`
2. `e2 81 a9`
3.  `e2 81 a8`
4. `e2 81 a9`
5. `e2 81 a8`
6. `e2 81 a9`

According to https://www.utf8-chartable.de/unicode-utf8-table.pl?start=8192&number=128, these two unicode values refer to:
[code]
- [First Strong Isolate](http://www.unicode-symbol.com/u/2068.html)
- [Pop Directional Isolate](http://www.unicode-symbol.com/u/2069.html)

[2020-11-21 18:07] fosskers commented on #44
Next I'm doing to test this with direct use of the `fluent` library and see what happens. Note that I've been running these in devel mode, so I believe RustEmbed grabs the files from the file system, and not from any embedded data.

[2020-11-21 18:37] fosskers commented on #44
You're off the hook :) I see the same results when I use vanilla `fluent`. I'll report the issue to their repo now.

[2020-11-21 19:12] fosskers opened #45 "Disabling Bidirectional Isolation in Fluent"
This is a feature request that stems from discoveries in the following issues:

- https://github.com/kellpossible/cargo-i18n/issues/44
- https://github.com/projectfluent/fluent-rs/issues/172#issuecomment-731619772

I see that a `FluentLanguageLoader` has an inner `LanguageConfig`, a struct private to that module:
[code]
The `FluentBundle` is what, by default, wraps injected arguments in the suppos

[2020-11-21 19:49] fosskers commented on #45
The setting could perhaps be set after this line: https://github.com/kellpossible/cargo-i18n/blob/master/i18n-embed/src/fluent.rs#L329

[2020-11-21 20:34] fosskers commented on #45
Oh, a method directly on `FluentLanguageLoader` might do it. I will experiment with this.

[2020-11-22 20:19] kellpossible commented on #44
Hi thanks for reporting the issue and the pull request! I'm glad you've been enjoying using this library and I'll make sure to have a good look at these issues this week, hopefully tomorrow.

[2020-11-23 07:11] kellpossible opened #48 "Intermittent failure of fallback_ru_to_en unit test"
Sometimes when running the unit tests in `i18n-embed/tests/loader.rs` I get a failure:

[code]

[2020-11-23 07:25] kellpossible commented on #43
Seems like it was probably an unnoticed breaking change in one of the internal crates, I pushed a new version `0.2.2` which should fix this particular issue I hope!

[2020-11-23 07:25] #43 closed

[2020-11-23 08:00] kellpossible commented on #36
I've now updated to fluent `0.13` and fixed the breaking changes, so this fix can now be removed.

[2020-11-23 08:03] #36 closed

[2020-11-23 08:24] casperstorm commented on #43
Thanks for coming back to this.

[2020-11-24 12:43] #44 closed

[2020-11-24 12:43] #45 closed

[2020-11-24 12:52] kellpossible commented on #45
Implemented now in `i18n-embed` version `0.9.4`

[2020-11-25 08:54] gendx opened #49 "[ERROR i18n_embed::requester] Unable to parse your locale when $LANG is not set"
As reported in a project that depends on `i18n_embed` (https://github.com/str4d/rage/issues/156), running `DesktopLanguageRequester::requested_languages()` in a minimalist Docker environment (on Linux) where `$LANG` is not set causes the following error message to be logged.

[code]

This is in particular visible for all dependent programs of `i18n_embed` that use the `env_logger` mechanism for ex

[2020-11-26 08:11] kellpossible commented on #49
Hi @gendx thanks for reporting! I'll take a look at this over the next few days and hopefully get back to you on it soon

[2020-11-26 08:14] kellpossible commented on #41
@psionikangel do you think the question is answered here okay? Or is there some more that could be done? I'll certainly make a mental note that when some GUI examples are added for this project to include a change language dropdown list

[2020-11-26 12:38] psionikangel commented on #41
@kellpossible Yes, thank you for answering. You can close the issue. In the end, it was decided to postpone the translating feature because the UI framework mentionned above (iced) doesn't support all the charactersets that were needed for certain languages.

[2020-11-26 17:05] #41 closed

[2020-11-26 17:47] kellpossible commented on #49
It's more of a problem with upstream https://github.com/rust-locale/locale_config/issues/6, but for now I created https://github.com/kellpossible/cargo-i18n/pull/50 to hopefully work around the issue, and report the potential issue of the empty tag using info::debug instead of info::error

[2020-11-27 18:53] kellpossible commented on #41
Just tried to make an example of this using iced, and ran into the same problem, do you know if there is a tracking issue for it in iced?

[2020-11-29 14:47] psionikangel commented on #41
Yes, it is https://github.com/hecrj/iced/issues/103

[2020-11-30 22:22] gendx commented on #49
Thanks for taking a look!
It seems that we're getting to some solution by jumping one level deeper in the dependencies.

And regardless of the upstream fix, I think that #50 would be an improvement by clarifying what caused the error.

[2020-12-05 19:25] fosskers opened #52 "i18n-embed: Regionless languages (Esperanto)"
I have software that is localized into, among others, Esperanto. The official Esperanto language identifier is `eo` without any region (like the `-US` in `en-US`). `unic_langid` can do `langid!("eo")` just fine, but it seems that having an `eo/` directory within the `i18n/` dir that `i18n-embed` expects isn't detected. Turning on logs, I see:
[code]
If I change the name to `eo-EO` (not its real co

[2020-12-05 19:29] fosskers commented on #52
Now that I think, wouldn't fixing this allow for regionless localizations in general? Say Chinese which has several official `zh-*` codes.

[2020-12-08 09:11] #49 closed

[2021-01-07 00:56] Roguelazer opened #55 "cannot build i18n-embed-fl due to dashmap version"
A routine `cargo update` broke i18n-embed-fl today; it looks like `src/lib.rs` calls the `insert_and_get` method on a DashMap instance, but that method was removed in dashmap 4.0.0.  For some reason, `cargo update` believes that `4.0.0-rc6` and `4.0.0` are compatible versions, so it freely upgrades between them.

I think the easiest fix would be to just move to the `dashmap` 4.0.0 final API and bu

[2021-01-11 03:55] str4d commented on #55
If anyone else is blocking on this, you can temporarily pin the old version of `dashmap` by adding an explicit dependency to your `Cargo.toml`:

[code]

[2021-01-11 10:29] kellpossible commented on #55
Hi guys, is this problem now fixed for you in `i18n-embed-fl` version `0.3.1`?

[2021-01-11 10:30] kellpossible commented on #52
Hi @fosskers sorry for the slow reply, I'll make sure to take a look at this one soon

[2021-01-11 16:36] Roguelazer commented on #55
Looks good to me!

[2021-01-11 16:36] #55 closed

[2021-01-12 03:18] str4d opened #57 "Multi-paragraph messages with CRLF ignore later paragraphs"
This occurs on both `i18n-embed 0.9.4` and the current release (`0.10.1`). I believe this was caused by #36 being closed.

Minimal reproduction:
- https://github.com/str4d/rage/commit/8c67875fafb1fa9eaa072f53ddb342ed09e6faa1 upgrades `i18n-embed` from 0.9.3 to 0.9.4.
- Before that commit, all tests pass, including Windows: https://github.com/str4d/rage/runs/1678885056
- After that commit, Windows

[2021-01-12 06:02] kellpossible commented on #57
Thanks @str4d I'll look into this today

[2021-01-12 07:22] kellpossible commented on #57
It seems likely to be an upstream fluent bug, I'll try to make a minimal reproduction for them to report

[2021-01-12 07:54] kellpossible commented on #57
This seems likely to be an upstream issue with `fluent` that I had assumed to be fixed but is still broken for this case, I'll report it there, and re-insert the work-around.

[2021-01-12 09:09] kellpossible commented on #57
I have reported this as an upstream issue https://github.com/projectfluent/fluent-rs/issues/213

As a quick workaround you can put indentation between the breaks, ensure that your editor doesn't delete them. I'll re-insert the previous workaround and push a new release soon.

[2021-01-12 10:44] kellpossible commented on #57
Workaround now published in `i18n-embed` version `0.10.2`. Does this solve the problem for you @str4d ?

[2021-01-12 13:36] str4d commented on #57
Yes, [the workaround fixes my Windows tests](https://github.com/str4d/rage/pull/187/commits/a4712dea4bcc05f68040580cdad674d6e13270ce). Thanks!

[2021-01-12 19:07] kellpossible commented on #57
Awesome! I guess I'll close this one then :slightly_smiling_face:

[2021-01-12 19:07] #57 closed

[2021-01-12 19:10] kellpossible commented on #52
One of the tests is using `ru` without a region https://github.com/kellpossible/cargo-i18n/tree/master/i18n-embed/i18n/ftl/ru so something interesting is going on here!

[2021-01-17 04:00] saskenuba opened #59 "i18n-embed: get message_id for desired locale, falling back directly to base fallback language"
Hello!

Sorry for the verbose title.

My web application has N available languages. On runtime, I check for the user's preferred locale, let's say pt-BR. Then I want to get the message for this locale, falling back directly en-US, but with all other locale files loaded, to proper populate the email template with the user's language.

Is there a method with this behaviour now on `FluentLanguageLoad

[2021-01-17 09:42] kellpossible commented on #59
Is this localization occurring on the front-end or the back-end of your web application?

Sorry I don't understand this use-case completely. You want to have all available locales loaded, or just the ones which the user is requesting? Why do they all need to be loaded?

Why are you bundling each language with "en-US" and why do you want to avoid it?

Would you be able to write more about the propo

[2021-01-17 10:47] saskenuba commented on #59
This section of localization occurs at the back-end. The user's preferred locale is stored on the database, I retrieve it, get all messages-ids from the .ftl that match his preferred locale, falling back to English if it doesn't exist (my use-case).

[code]

Hopefully, this makes sense.

To be honest, this should not happen very often, since it is very important to keep all locales on par with the

[2021-01-18 16:53] saskenuba commented on #59
Yes, exactly.

Following your thoughts on a different loader, `FluentMultiLanguageLoader` could have even two methods, one to get a locale, falling back directly to a global language, and another, to fallback to specified locales, or maybe that is too much?

[code]

That would be it. I think this is more of a convenience. `FluentMultiLanguageLoader` is acting as a map type to hold every existent t

[2021-01-24 15:16] Yesterday17 opened #60 "i18n-embed-fl tries to load i18n.toml different from fluent_language_loader"
`fluent_language_loader` uses:
https://github.com/kellpossible/cargo-i18n/blob/ff4ee1d42a25c49a9d0190c22d75fa4cbe64578e/i18n-embed/i18n-embed-impl/src/lib.rs#L88

while `fl!` uses:
https://github.com/kellpossible/cargo-i18n/blob/ff4ee1d42a25c49a9d0190c22d75fa4cbe64578e/i18n-embed-fl/src/lib.rs#L290-L296

In workspaces, for example, a `sample-workspace` contains `sample-project`, `fluent_language_l

[2021-01-27 19:49] kellpossible commented on #59
That sounds like a good idea!

Sure, I would definitely appreciate that, and happy to review

[2021-01-27 19:53] kellpossible commented on #60
Thanks for reporting this, I think the expected behaviour is what the `fl!` macro is doing, so I guess there's a bug with the logic in `fluent_language_loader`'s path resolution for `i18n.toml`. I'll hopefully look at it soon! Or would also appreciate a PR if you'd like to try and fix it.

[2021-01-27 19:55] kellpossible commented on #22
I'm hopefully going to try making a glade gtk example to test supporting this use case.

[2021-02-04 14:41] #60 closed

[2021-02-15 18:55] saskenuba commented on #59
I was working on something that for my use-case it worked perfectly, and decided to push the PR as draft: https://github.com/kellpossible/cargo-i18n/pull/62

There are four new methods for the MultiLoader, `get_with_locale` and `get_with_locale_and_args`, for retrieval of a single translated string, for a specific locale, falling back to the global fallback language.

And `get_with_custom_fallback

[2021-02-18 19:40] kellpossible commented on #59
@saskenuba Thanks for your contribution! I've been away for the past few days, but I'll make sure to do a proper reply soon and review your PR

[2021-03-06 09:18] ancwrd1 opened #63 "Cannot parse locale on macOS"
Observed on macOS Catalina and Big Sur, when the `LC_CTYPE` envrionment variable is set to `UTF-8` (seems like a default for macOS, at least in the terminal application).
The DesktopRequester fails with InvalidLanguage error.

[2021-03-11 20:09] kellpossible commented on #63
thanks for the issue report, I'll look into it soon

[2021-03-18 00:41] kellpossible commented on #63
Sounds like it could be an issue with our upstream dependency https://github.com/rust-locale/locale_config/ I don't have a Mac to test this properly, would you be happy to try that library with your environment variable and see if it is broken there too?

[2021-03-18 00:48] kellpossible commented on #63
Considering that dependency looks close to abandoned I'd consider forking it or bringing it into this project, or finding some alternative.

[2021-03-18 00:52] kellpossible commented on #52
does this problem occur for you with other region-less language identifiers, or only `eo`?

[2021-03-18 01:30] fosskers commented on #52
I haven't tried it with any others, but I could try it, re: https://github.com/kellpossible/cargo-i18n/issues/52#issuecomment-739350079

[2021-03-18 02:12] kellpossible commented on #52
@fosskers I'm currently working on an example for this repo that we could modify to reproduce the problem in a unit test

[2021-03-18 02:20] kellpossible commented on #52
https://github.com/kellpossible/cargo-i18n/tree/master/i18n-embed/examples/library-fluent Perhaps example could be modified, so the problem is reproduced in a test

[2021-03-18 02:58] Casara opened #65 "Cannot find function locate_crate_paths in crate i18n_config"
The following error is occurring when using version 0.11.0 of the i18n-embed sub crate:

[code]

The function `locate_crate_paths` was introduced in version [0.4.1](https://github.com/kellpossible/cargo-i18n/blob/master/i18n-config/CHANGELOG.md#v041) of the i18n-version sub crate as seen in the link.

However, in version 0.11.0 of i18n-embed, its sub crate i18n-embed-impl uses version 0.4.0 of i18

[2021-03-18 06:09] kellpossible commented on #65
@Casara thanks for reporting! A confusing dependency problem :thinking: Do you have any opinions on the best way to push a fix for this?

[2021-03-18 06:14] kellpossible commented on #65
Have you tried doing a `cargo update  -p 18n-embed`? I don't think any of the dependencies specified are specifically locked to `0.4.0` of `i18n-config`. Seems like maybe some kind of incompatibility in your lock file?

[2021-03-18 11:28] ancwrd1 commented on #63
Tried the example from locale_config with the same issue.

Generally it depends on the setting of the terminal application, `Set locale environment on startup`.
By default this option is turned on.
When it is turned on the `LC_CTYPE` env variable is set to `UTF-8` and obtaining a locale fails.
When it is turned off there is no LC_CTYPE variable set and `locale_config` detects the locale as `en-NL`

[2021-03-23 01:16] kellpossible commented on #63
@ancwrd1 Would it be possible for you to show the output of your `LC_CTYPE` variable?

[2021-03-23 19:36] ancwrd1 commented on #63
Yes, here it is:

![lcctype](https://user-images.githubusercontent.com/2361919/112206919-c956a500-8c16-11eb-8bdb-551dba553baf.png)

I tried it on recent macOS versions 10.15 and 11.0.

Depends on this option in the terminal application settings. It is turned on by default.

![Screenshot_20210323_203324](https://user-images.githubusercontent.com/2361919/112207225-27838800-8c17-11eb-8161-6c1f837a3d0

[2021-03-23 19:56] kellpossible commented on #63
@ancwrd1 Thanks! Iteresting ohhh it's literally `UTF-8` :laughing: for some reason I assumed that it was some UTF-8 string that wasn't able to be parsed by the `locale_config` library.

[2021-03-23 20:05] ancwrd1 commented on #63
Most likely, yes. So shouldn't be used on mac I guess.

[2021-04-24 08:11] kellpossible opened #69 "Move the available configuration options to a separate toml file, and test it"
Move the available configuration options in https://github.com/kellpossible/cargo-i18n#configuration to a separate toml file, and add a deserialization test for it to ensure that it doesn't get out of date.

[2021-04-25 06:24] kellpossible commented on #65
@Casara did you get a chance to look at this again?

[2021-04-25 06:27] kellpossible commented on #37
I think the WIP pull request #62 is supposed to address this

[2021-05-03 14:31] Casara commented on #65
Not yet, I'm very busy at the moment. I do not know when I can stop to look at it again.

[2021-05-09 19:49] kellpossible commented on #65
Okay no worries, I'm going to close this issue for now because I can't reproduce it, but if you do get a chance to look at it let me know and I'll re-open if needed.

[2021-05-09 19:49] #65 closed

[2021-05-19 04:36] kellpossible commented on #65
I just ran into this issue updating one of my own projects. I was able to resolve it with `cargo update -p i18n-config` Looks like there was probably a breaking change in i18n-config that needed a bigger version bump.

[2021-05-26 19:27] johansmitsnl opened #70 "Using wasm target gives error: Error resolving module specifier “env”. Relative module specifiers must start with “./”, “../” or “/”."
When I load the `i18n_embed::select` it gives me this error with a wasm target.

[code]

[code]

[code]

[code]

On the browser console a error message from WASM: `Uncaught TypeError: Error resolving module specifier “env”. Relative module specifiers must start with “./”, “../” or “/”.`

[2021-05-27 18:05] johansmitsnl commented on #70
Not related to this project but this was my search trace for anyone that encounters it: rustwasm/wasm-pack#743, rustwasm/wasm-bindgen#2215, rustwasm/wasm-bindgen#2160, /rustwasm/wasm-pack#743 and finally Amanieu/parking_lot#269.

So pinging down `parking_lot_core = "=0.8.0"` the error goes away.

[2021-05-27 18:05] #70 closed

[2021-06-06 07:34] kellpossible opened #71 "Provide support for rust_icu"
Provide support for https://github.com/google/rust_icu

More research is needed to see specifically what can be supported and how.

[2021-09-12 21:21] kellpossible opened #72 "Command line completions"
Use https://docs.rs/clap_generate/3.0.0-beta.4/clap_generate/ to allow command line completion scripts to be generated for people who may want them.

[2021-10-24 07:31] kellpossible opened #73 "Consider a code generation type safe version of i18n-embed-fl"
The https://github.com/baptiste0928/rosetta project brings some interesting ideas, it generates code using the `build.rs` script that can be used to reference localizations using native Rust types which also integrates well with IDE autocomplete. In addition, the function signature for localizations with variables are also generated, making it very easy to use a given localization correctly withou

[2021-11-15 13:50] rostamn739 opened #74 "Different fluent localization files for different rust modules inside one localization domain"
I have a crate that contains several modules for which I want to embed the localization resources

Suppose my crate is structured as:
-- lib.rs
-- mod1
---- file1.rs

I expect the i18n-embed system to search for localization files in

-- i18n/my-crate/mod1/file.ftl

But all it does ever consider is a single file `{domain.ftl}` (e.g. `my-crate.ftl`) which is used for all the tranlsation strings acr

[2021-11-22 15:30] kaj opened #75 "Add custom functions to the bundles in FluentLanguageLoader?"
I use `fluent_language_loader!()` to get a `FluentLanguageLoader`, which is used by the `fl!(...)` macro from the `i18n-embed-fl` crate.  Now I'd like to add a custom function to the bundles, but there seems to be now way to access them.  As the bundles are kept inside private field `language_config` there seems to be no way of doing this?

There is a method `set_use_isolating` that loops over the

[2021-11-29 00:15] xaoctech opened #76 "i18n-embed-fl is incompatible with the most recent fluent-bundle version 0.15.2"
It seems  fluent-bundle version 0.15.2 introduced some breaking changes, so to use i18n-embed-fl I had to add
[code]
to my Cargo.toml

With 0.15.2 version there are 5 errors:
[code]

[2021-11-29 08:39] kellpossible commented on #74
Hi, sorry for the slow reply! At the moment I don't think this behaviour is supported. I'm curious are you using any localization management tools, and if so do they also support having a split by module like this?

[2021-11-29 09:31] kellpossible commented on #75
@kaj thanks for getting in contact!

Can you explain a bit more what you mean by this? Do you want a way to modify what is in the bundles?

[2021-11-29 09:33] kellpossible commented on #76
Hi @xaoctech thanks for letting me know! So much for semver :sweat_smile:  Have you also reported the issue on `fluent-bundle`?

[2021-11-29 09:49] kellpossible commented on #76
I ran the tests with `fluent-bundle` `0.15.2` and it all seems to be working fine. Perhaps there is something different going on here?

[2021-11-29 09:58] kellpossible commented on #76
The errors here don't seem to have anything to do with `fluent-bundle`, but rather with `syn`. The version of syn depended upon `fluent-bundle` does not appear to have changed between `0.15.1` and `0.15.2` so I'm not sure what's going on here. Which version of `syn` do you have in your lock file being used by `i18n-embed-fl`?

[2021-11-29 13:02] vtimonin commented on #76
Yes, what is really strange - I can build and test all cargo-i18n crates, but there are some issues when I add them as dependencies...

Can you try to create a new  app project and add these dependencies (I can reproduce it this way):
[code]
Just in case I attached resulting "bad" Cargo.lock (as well as "good" one created with an additional `fluent-bundle = "=0.15.1"` dependency:
[code]

[2021-11-29 13:46] kellpossible commented on #76
@vtimonin thanks! I  was able to reproduce the problem, very strange! I'll take a look at it over the next few days and hopefully come up with a fix

[2021-11-29 14:36] kellpossible commented on #76
It looks like adding `ouroboros = "0.9.5"` is the minimum required to work around the problem, still trying to figure out why

[2021-11-29 15:07] kellpossible commented on #76
Narrowed it down further to `ouroboros_macro`, this is so strange, beginning to think it might be some kind of compiler/cargo bug...

[code]

I think I've just realised this problem may be due to a missing feature flag for the `syn` crate, that `ourobors_macro` is using for itself. It might even be a breaking change in syn's feature flags that was masked by other crates specifying the new required

[2021-11-29 16:44] kellpossible commented on #76
@vtimonin I think this should be fixed in a new version of `i18n-embed-fl` that I just pushed `0.6.1`

[2021-11-29 16:52] kellpossible commented on #52
@fosskers I haven't been able to reproduce this problem for myself yet, do you think we should close this issue?

[2021-11-29 16:55] kellpossible commented on #63
`locale_config` appears to be fairly abandoned, if someone knows of a good alternative I'm definitely open to replacing it

[2021-11-29 16:55] vtimonin commented on #76
Yes, it works now, thanks!

[2021-11-29 17:16] fosskers commented on #52
Let's leave it open for now, I'm going to be back developing the project soon that needs it.

[2021-11-29 18:15] kellpossible commented on #52
Okay, no worries! We'll leave it open :slightly_smiling_face:

[2021-11-29 18:16] kaj commented on #75
Sorry for being unclear.  I meant ["Functions in FTL" as described here](https://projectfluent.org/fluent/guide/functions.html).  I want to be able to write things like this in my `app.ftl` bundles:

[code]

[2021-11-29 18:21] kellpossible commented on #75
@kaj Thanks I understand now! Your suggestion to provide a generic function where we pass a callback with mutable access to each bundle seems like a good one, and in hindsight perhaps that's what I should have done with `set_use_isolating` too, we could deprecate it in favour of this. I'm happy to do this, but if you'd like to contribute let me know, it seems like a good first contribution to the

[2021-12-08 22:23] kaj commented on #75
I made an attempt.  Seems to work as intended, though I'm not sure about docs, changelog etc.   Looking forward to review ...   :-)

[2021-12-09 20:05] kellpossible commented on #75
@kaj thanks! I'll take a look at it tomorrow :slightly_smiling_face:

[2021-12-12 09:30] #75 closed

[2021-12-12 09:49] kellpossible commented on #75
Released with `i18n-embed` version `0.13.1`

[2022-01-10 08:28] qarmin opened #79 "Debug windows binaries crashes on Windows and Wine"
When I compiled my app on Linux(both Debug and Release) or Windows(only Release), then everything works fine.
But when I started to use debug Windows builds(without any code change, except changing windows build to console), then I start to have this crashes when starting app(even with RUST_BACKTRACE=full don't show more detailed backtrace)

[code]

This issue was also created here https://github.

[2022-02-10 01:57] bikeshedder commented on #48
`cargo test` runs the tests in threads. The `gettext` tests however are not thread safe as they use the shared `LOADER` which is initialized inside the `lazy_static` block. It is just a matter of (bad) luck to end up with both tests executing concurrently. `GetTextLanguageLoader::load_langauges` does set the `current_language` which causes the tests to fail in a random fashion.

`gettext::only_en`

[2022-02-10 12:09] bikeshedder commented on #48
Just one important note: While using a thread local object might fix it for sync applications with multiple threads it still will break async code. That's why runtimes like tokio have their own implementation of a "task-local": https://docs.rs/tokio/1.16.1/tokio/task/struct.LocalKey.html

[2022-02-10 13:17] kellpossible commented on #79
@qarmin sorry for the slow reply! Could it be related to the difference in behaviour between Debug and Release builds for `rust-embed`? As per the [documentation](https://github.com/pyros2097/rust-embed#documentation):

[2022-02-10 13:34] kellpossible commented on #48
@bikeshedder thanks for the contribution and MR! Perhaps we could just instead create a new `GettextLanguageLoader` per test, in the same style as the fluent tests?

[2022-02-10 14:16] bikeshedder commented on #48
Sure. I just added that change to the PR. It doesn't fix the other tests which are prone to this issue though. If you run the tests often enough you can get an error out of the tests for the `FluentLoader` which uses global state (`lazy_static`) internally. For those to work properly the `--test-threads 1` is still required.

[2022-02-10 14:22] kellpossible commented on #48
Actually I just triggered the error again,  gettext uses a global static variable for its state under the hood.

[2022-02-10 14:23] bikeshedder commented on #48
Have you tried running the tests with `--test-threads 1`? Unless the tests don't properly reset everything the errors should go away.

[2022-02-10 14:26] kellpossible commented on #48
I like this suggestion, do you think it's worth creating a new issue for it?

[2022-02-10 14:40] #48 closed

[2022-02-10 14:42] bikeshedder opened #82 "Make implementation of current language configurable"
Right now the current language is set at application level. This causes tests to fail (#48) and makes it impossible to change languages for a single thread or worker (#59).

While it is desirable to add new methods like `get_lang` it would also help a lot if the way the current language is determined was configurable. Therefore I'm proposing a `CurrentLanguage` trait which can be implemented for d

[2022-02-10 14:43] bikeshedder commented on #48
@kellpossible I just opened #82. I'm currently working on #59. I'm on Discord and tried contacting you. If you're open to some discussion I'd love to talk to you about some implementation details that I noticed while working on the code base.

[2022-02-10 15:33] kellpossible commented on #82
Thanks for this idea!

With regards to #59 how would you compare this proposal to wip PR https://github.com/kellpossible/cargo-i18n/pull/62 ?

The gettext language loader uses the https://docs.rs/tr/latest/tr/ library under the hood, which has a global static store for current language, I guess these implementations would only be possible with Fluent?

[2022-02-10 15:52] kellpossible opened #83 "Translation editing and live reload"
+ It would be very nice to have a library that can interface with this system and provide translation editing capabilities in the form of a web interface which can be optionally embedded with a user's application in support of translation efforts (they can distribute a special build to translators).
+ It would also be nice to have some support in `i18n-embed` for a live reload from file system for

[2022-02-19 12:34] kellpossible commented on #73
Perhaps this could be made into an optional feature/technique until it proves itself on some larger projects/examples.

[2022-02-19 12:41] kellpossible opened #85 "Make the library generic over Language ID / Locale"
Different localization systems may have different representations for locale/language ids.  Such as https://github.com/unicode-org/icu4x/tree/main/components/locid

[2022-02-20 05:56] kellpossible opened #86 "Compile time localization"
It would be nice to be able to have support compile time localization for things like resource constrained video games, or embedded devices. The user will provide the language as a feature for their project to be specified at compile time.

[2022-02-20 06:07] kellpossible opened #87 "Simple fmt based localization using serde/miniserde"
Provide a localization method that accepts strings coming from a dictionary via a `serde`,  [miniserde](https://github.com/dtolnay/miniserde), [microserde](https://github.com/cloudhead/microserde) format such as `json`, `yaml`, `toml`, `ron`, etc.
Strings can contain formatting syntax which can be either specified by the user, or use something like [runtime_fmt](https://docs.rs/runtime-fmt/latest/

[2022-02-20 06:27] kellpossible commented on #87
And perhaps having the full flexibility/generalization of these formats with serde/miniserde, etc isn't necessary for a simple message dictionary, given their additional cost if we were to make them necessary for all of the formats. Something like [postcard](https://docs.rs/postcard/latest/postcard/) or [lite-json](https://github.com/xlc/lite-json) could also be good.

[2022-02-20 06:29] kellpossible commented on #87
Having support for converting between the formats at compile time would also be good, so the data can be stored in the repository an any format, and converted to a format that meets the needs of the application at runtime. For embedded this could mean having a wider range of repo storage formats, and on device a nice slim binary format.

[2022-02-20 06:59] kellpossible commented on #87
I think the interface should be mostly covered by traits, and left to the examples for how to implement them. Maybe have a default implementation for `serde` and `[ufmt](https://github.com/japaric/ufmt)`.

For each of the data formats, something like this:

[code]

For each of the formatting methods, something like this:

[code]

Perhaps this generic message formatting support and decoupling from

[2022-02-23 08:26] #59 closed

[2022-02-23 10:01] kellpossible commented on #23
Related to #31

[2022-02-23 10:38] kellpossible opened #89 "Localization change tracking for fluent"
It would be nice to have some kind of localization change tracking tool/library for fluent that can indicate when messages are out of date.

Related to #31
Related to #83

[2022-09-19 10:41] ctrlcctrlv opened #90 "Errors when the parent crate is a workspace!"
Tracking issue, PR incoming.

[2022-09-19 11:08] ctrlcctrlv opened #91 "No way for me to manage my pot"
I don't want to use xtr. I prefer using normal `xgettext` command and extracting all strings from one designated file where I've put them and used `stringify!(...)` for non-translated strings.

Will patch this too I guess.

[2022-09-19 11:28] ctrlcctrlv commented on #91
Ah, changed my mind. (Also there's `xtr` option.) But this isn't even a good idea, lol.

[2022-09-19 11:28] #91 closed

[2022-09-19 13:13] ctrlcctrlv opened #92 "Is this broken with Gettext?"
[code]

Returns

[code]

No clue what else I can do.

[2022-09-19 14:58] ctrlcctrlv commented on #92
This library is very difficult to use but I figured it out.

[code]

# bin/src/i18n/gettext.rs
[code]

# bin/src/i18n/mod.rs
[code]

# bin/src/main.rs
[code]

To be charitable it seems like its developers included `gettext` only to be able to interact with C libraries that use it already, not for new projects wanting to use it from Rust but allow it to be disabled. Thus you have to hack quite a bi

[2022-09-19 14:58] #92 closed

[2022-09-27 19:47] m00nwtchr opened #94 "Localizations don't change after setting language override and calling poll()"
I want to give users to option to use system locale or force a specific supported one in the app, and I'm using code adapted from the Localizer example, setting the language override before the first manual `poll()` works as expected, but when i do it afterwards in gui code, the language preference/order doesn't change. (Using the `fl!` and `println!` macros to check the values)

[2022-10-02 00:31] kellpossible commented on #90
Hi thanks for reporting! I'll look into this today

[2022-10-02 00:31] kellpossible commented on #94
Hi thanks for reporting, I'll look into this today!

[2022-10-02 00:33] kellpossible commented on #94
Which platform are you on by the way? The https://github.com/rust-locale/locale_config/ library used appears to be mostly abandoned and has existing issues, I haven't yet found a suitable replacement.

[2022-10-02 00:34] kellpossible commented on #42
The 1.0 release has been made http://blog.unicode.org/2022/09/announcing-icu4x-10.html

[2022-10-03 14:41] m00nwtchr commented on #94
I'm on Arch Linux (btw, lol).

[2022-10-04 07:17] kellpossible commented on #94
Hmm interesting, I'm also on Archlinux! Hopefully it will be easy for me to replicate

[2022-11-23 13:04] TimBoettcher opened #95 "No localization for ID in WASM context"
Consider the following example:

[code]

I use trunk to build and bundle this into a WASM application, but unfortunately I get the following message in both above cases:

`No localization for id: "hello"`

I converted this to a native application and confirmed that it worked as it should (displaying `Hallo, Welt!`) in the desktop context, but I'm at a loss what could possibly be causing this to fa

[2022-11-23 15:07] TimBoettcher commented on #95
I found the solution, which has to do with `rust-embed`:

[code]

You might want to add this to the documentation; in any case, `i18n-embed` works even in a WASM context.

[2022-11-23 15:07] #95 closed